<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>file</key>
		<string>emoji_00</string>
		<key>id</key>
		<string>emoticon_emoji_0</string>
		<key>tag</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_01</string>
		<key>id</key>
		<string>emoticon_emoji_01</string>
		<key>tag</key>
		<string>[撇嘴]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_02</string>
		<key>id</key>
		<string>emoticon_emoji_02</string>
		<key>tag</key>
		<string>[色]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_03</string>
		<key>id</key>
		<string>emoticon_emoji_03</string>
		<key>tag</key>
		<string>[发呆]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_04</string>
		<key>id</key>
		<string>emoticon_emoji_04</string>
		<key>tag</key>
		<string>[得意]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_05</string>
		<key>id</key>
		<string>emoticon_emoji_05</string>
		<key>tag</key>
		<string>[流泪]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_06</string>
		<key>id</key>
		<string>emoticon_emoji_06</string>
		<key>tag</key>
		<string>[害羞]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_07</string>
		<key>id</key>
		<string>emoticon_emoji_07</string>
		<key>tag</key>
		<string>[闭嘴]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_08</string>
		<key>id</key>
		<string>emoticon_emoji_08</string>
		<key>tag</key>
		<string>[睡]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_09</string>
		<key>id</key>
		<string>emoticon_emoji_09</string>
		<key>tag</key>
		<string>[大哭]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_10</string>
		<key>id</key>
		<string>emoticon_emoji_10</string>
		<key>tag</key>
		<string>[尴尬]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_11</string>
		<key>id</key>
		<string>emoticon_emoji_11</string>
		<key>tag</key>
		<string>[发怒]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_12</string>
		<key>id</key>
		<string>emoticon_emoji_12</string>
		<key>tag</key>
		<string>[调皮]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_13</string>
		<key>id</key>
		<string>emoticon_emoji_13</string>
		<key>tag</key>
		<string>[呲牙]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_14</string>
		<key>id</key>
		<string>emoticon_emoji_14</string>
		<key>tag</key>
		<string>[惊讶]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_15</string>
		<key>id</key>
		<string>emoticon_emoji_15</string>
		<key>tag</key>
		<string>[难过]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_16</string>
		<key>id</key>
		<string>emoticon_emoji_16</string>
		<key>tag</key>
		<string>[囧]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_17</string>
		<key>id</key>
		<string>emoticon_emoji_17</string>
		<key>tag</key>
		<string>[抓狂]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_18</string>
		<key>id</key>
		<string>emoticon_emoji_18</string>
		<key>tag</key>
		<string>[恶心]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_19</string>
		<key>id</key>
		<string>emoticon_emoji_19</string>
		<key>tag</key>
		<string>[偷笑]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_20</string>
		<key>id</key>
		<string>emoticon_emoji_20</string>
		<key>tag</key>
		<string>[憨笑]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_21</string>
		<key>id</key>
		<string>emoticon_emoji_21</string>
		<key>tag</key>
		<string>[笑哭]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_22</string>
		<key>id</key>
		<string>emoticon_emoji_22</string>
		<key>tag</key>
		<string>[眨眼]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_23</string>
		<key>id</key>
		<string>emoticon_emoji_23</string>
		<key>tag</key>
		<string>[馋]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_24</string>
		<key>id</key>
		<string>emoticon_emoji_24</string>
		<key>tag</key>
		<string>[傲慢]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_25</string>
		<key>id</key>
		<string>emoticon_emoji_25</string>
		<key>tag</key>
		<string>[大笑]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_27</string>
		<key>id</key>
		<string>emoticon_emoji_27</string>
		<key>tag</key>
		<string>[鄙视]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_28</string>
		<key>id</key>
		<string>emoticon_emoji_28</string>
		<key>tag</key>
		<string>[无语]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_29</string>
		<key>id</key>
		<string>emoticon_emoji_29</string>
		<key>tag</key>
		<string>[可怜]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_30</string>
		<key>id</key>
		<string>emoticon_emoji_30</string>
		<key>tag</key>
		<string>[愁]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_31</string>
		<key>id</key>
		<string>emoticon_emoji_31</string>
		<key>tag</key>
		<string>[灵魂]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_32</string>
		<key>id</key>
		<string>emoticon_emoji_32</string>
		<key>tag</key>
		<string>[吹口哨]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_33</string>
		<key>id</key>
		<string>emoticon_emoji_33</string>
		<key>tag</key>
		<string>[噘嘴]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_34</string>
		<key>id</key>
		<string>emoticon_emoji_34</string>
		<key>tag</key>
		<string>[要亲亲]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_35</string>
		<key>id</key>
		<string>emoticon_emoji_35</string>
		<key>tag</key>
		<string>[亲亲]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_36</string>
		<key>id</key>
		<string>emoticon_emoji_36</string>
		<key>tag</key>
		<string>[吐舌]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_37</string>
		<key>id</key>
		<string>emoticon_emoji_37</string>
		<key>tag</key>
		<string>[嘚瑟]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_38</string>
		<key>id</key>
		<string>emoticon_emoji_38</string>
		<key>tag</key>
		<string>[沮丧]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_39</string>
		<key>id</key>
		<string>emoticon_emoji_39</string>
		<key>tag</key>
		<string>[怒视]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_40</string>
		<key>id</key>
		<string>emoticon_emoji_40</string>
		<key>tag</key>
		<string>[烦]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_41</string>
		<key>id</key>
		<string>emoticon_emoji_41</string>
		<key>tag</key>
		<string>[气愤]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_42</string>
		<key>id</key>
		<string>emoticon_emoji_42</string>
		<key>tag</key>
		<string>[啊]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_43</string>
		<key>id</key>
		<string>emoticon_emoji_43</string>
		<key>tag</key>
		<string>[快哭了]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_44</string>
		<key>id</key>
		<string>emoticon_emoji_44</string>
		<key>tag</key>
		<string>[困]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_45</string>
		<key>id</key>
		<string>emoticon_emoji_45</string>
		<key>tag</key>
		<string>[噢]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_46</string>
		<key>id</key>
		<string>emoticon_emoji_46</string>
		<key>tag</key>
		<string>[衰]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_47</string>
		<key>id</key>
		<string>emoticon_emoji_47</string>
		<key>tag</key>
		<string>[惊恐]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_48</string>
		<key>id</key>
		<string>emoticon_emoji_48</string>
		<key>tag</key>
		<string>[呵欠]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_49</string>
		<key>id</key>
		<string>emoticon_emoji_49</string>
		<key>tag</key>
		<string>[打呵欠]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_50</string>
		<key>id</key>
		<string>emoticon_emoji_50</string>
		<key>tag</key>
		<string>[哦]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_51</string>
		<key>id</key>
		<string>emoticon_emoji_51</string>
		<key>tag</key>
		<string>[生病]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_52</string>
		<key>id</key>
		<string>emoticon_emoji_52</string>
		<key>tag</key>
		<string>[愉快]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_56</string>
		<key>id</key>
		<string>emoticon_emoji_56</string>
		<key>tag</key>
		<string>[拒绝]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_57</string>
		<key>id</key>
		<string>emoticon_emoji_57</string>
		<key>tag</key>
		<string>[不看]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_58</string>
		<key>id</key>
		<string>emoticon_emoji_58</string>
		<key>tag</key>
		<string>[不听]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_59</string>
		<key>id</key>
		<string>emoticon_emoji_59</string>
		<key>tag</key>
		<string>[拜托]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_60</string>
		<key>id</key>
		<string>emoticon_emoji_60</string>
		<key>tag</key>
		<string>[流汗]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_61</string>
		<key>id</key>
		<string>emoticon_emoji_61</string>
		<key>tag</key>
		<string>[呵呵]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_63</string>
		<key>id</key>
		<string>emoticon_emoji_63</string>
		<key>tag</key>
		<string>[钱]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_64</string>
		<key>id</key>
		<string>emoticon_emoji_64</string>
		<key>tag</key>
		<string>[银行卡]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_65</string>
		<key>id</key>
		<string>emoticon_emoji_65</string>
		<key>tag</key>
		<string>[阴笑]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_66</string>
		<key>id</key>
		<string>emoticon_emoji_66</string>
		<key>tag</key>
		<string>[拥抱]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_69</string>
		<key>id</key>
		<string>emoticon_emoji_69</string>
		<key>tag</key>
		<string>[抱拳]</string>
	</dict>
    <dict>
        <key>file</key>
        <string>emoji_138</string>
        <key>id</key>
        <string>emoticon_emoji_138</string>
        <key>tag</key>
        <string>[握手]</string>
    </dict>
	<dict>
		<key>file</key>
		<string>emoji_70</string>
		<key>id</key>
		<string>emoticon_emoji_70</string>
		<key>tag</key>
		<string>[发誓]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_71</string>
		<key>id</key>
		<string>emoticon_emoji_71</string>
		<key>tag</key>
		<string>[手掌]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_72</string>
		<key>id</key>
		<string>emoticon_emoji_72</string>
		<key>tag</key>
		<string>[胜利]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_73</string>
		<key>id</key>
		<string>emoticon_emoji_73</string>
		<key>tag</key>
		<string>[星星]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_74</string>
		<key>id</key>
		<string>emoticon_emoji_74</string>
		<key>tag</key>
		<string>[玫瑰]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_81</string>
		<key>id</key>
		<string>emoticon_emoji_81</string>
		<key>tag</key>
		<string>[向上]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_82</string>
		<key>id</key>
		<string>emoticon_emoji_82</string>
		<key>tag</key>
		<string>[向下]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_83</string>
		<key>id</key>
		<string>emoticon_emoji_83</string>
		<key>tag</key>
		<string>[向左]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_84</string>
		<key>id</key>
		<string>emoticon_emoji_84</string>
		<key>tag</key>
		<string>[向右]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_85</string>
		<key>id</key>
		<string>emoticon_emoji_85</string>
		<key>tag</key>
		<string>[拳头]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_86</string>
		<key>id</key>
		<string>emoticon_emoji_86</string>
		<key>tag</key>
		<string>[再见]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_87</string>
		<key>id</key>
		<string>emoticon_emoji_87</string>
		<key>tag</key>
		<string>[OK]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_88</string>
		<key>id</key>
		<string>emoticon_emoji_88</string>
		<key>tag</key>
		<string>[强]</string>
	</dict>
    <dict>
        <key>file</key>
        <string>emoji_97</string>
        <key>id</key>
        <string>emoticon_emoji_97</string>
        <key>tag</key>
        <string>[弱]</string>
    </dict>
    <dict>
        <key>file</key>
        <string>emoji_89</string>
        <key>id</key>
        <string>emoticon_emoji_89</string>
        <key>tag</key>
        <string>[鼓掌]</string>
    </dict>
    <dict>
        <key>file</key>
        <string>emoji_90</string>
        <key>id</key>
        <string>emoticon_emoji_90</string>
        <key>tag</key>
        <string>[加油]</string>
    </dict>
	<dict>
		<key>file</key>
		<string>emoji_91</string>
		<key>id</key>
		<string>emoticon_emoji_91</string>
		<key>tag</key>
		<string>[小狗]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_92</string>
		<key>id</key>
		<string>emoticon_emoji_92</string>
		<key>tag</key>
		<string>[眼睛]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_93</string>
		<key>id</key>
		<string>emoticon_emoji_93</string>
		<key>tag</key>
		<string>[心碎]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_94</string>
		<key>id</key>
		<string>emoticon_emoji_94</string>
		<key>tag</key>
		<string>[爱心]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_95</string>
		<key>id</key>
		<string>emoticon_emoji_95</string>
		<key>tag</key>
		<string>[爱]</string>
	</dict>
    <dict>
        <key>file</key>
        <string>emoji_68</string>
        <key>id</key>
        <string>emoticon_emoji_68</string>
        <key>tag</key>
        <string>[飞机]</string>
    </dict>
    <dict>
        <key>file</key>
        <string>emoji_78</string>
        <key>id</key>
        <string>emoticon_emoji_78</string>
        <key>tag</key>
        <string>[礼结]</string>
    </dict>
    <dict>
        <key>file</key>
        <string>emoji_79</string>
        <key>id</key>
        <string>emoticon_emoji_79</string>
        <key>tag</key>
        <string>[礼物]</string>
    </dict>
    <dict>
        <key>file</key>
        <string>emoji_80</string>
        <key>id</key>
        <string>emoticon_emoji_80</string>
        <key>tag</key>
        <string>[庆祝]</string>
    </dict>
	<dict>
		<key>file</key>
		<string>emoji_96</string>
		<key>id</key>
		<string>emoticon_emoji_96</string>
		<key>tag</key>
		<string>[干杯]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_98</string>
		<key>id</key>
		<string>emoticon_emoji_98</string>
		<key>tag</key>
		<string>[花]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_99</string>
		<key>id</key>
		<string>emoticon_emoji_99</string>
		<key>tag</key>
		<string>[快递]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_100</string>
		<key>id</key>
		<string>emoticon_emoji_100</string>
		<key>tag</key>
		<string>[满分]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_101</string>
		<key>id</key>
		<string>emoticon_emoji_101</string>
		<key>tag</key>
		<string>[跳舞]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_102</string>
		<key>id</key>
		<string>emoticon_emoji_102</string>
		<key>tag</key>
		<string>[口红]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_103</string>
		<key>id</key>
		<string>emoticon_emoji_103</string>
		<key>tag</key>
		<string>[美甲]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_104</string>
		<key>id</key>
		<string>emoticon_emoji_104</string>
		<key>tag</key>
		<string>[圣诞树]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_105</string>
		<key>id</key>
		<string>emoticon_emoji_105</string>
		<key>tag</key>
		<string>[圣诞老人]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_106</string>
		<key>id</key>
		<string>emoticon_emoji_106</string>
		<key>tag</key>
		<string>[气球]</string>
	</dict>
    <dict>
        <key>file</key>
        <string>emoji_75</string>
        <key>id</key>
        <string>emoticon_emoji_75</string>
        <key>tag</key>
        <string>[米饭]</string>
    </dict>
    <dict>
        <key>file</key>
        <string>emoji_76</string>
        <key>id</key>
        <string>emoticon_emoji_76</string>
        <key>tag</key>
        <string>[套饭]</string>
    </dict>
    <dict>
        <key>file</key>
        <string>emoji_77</string>
        <key>id</key>
        <string>emoticon_emoji_77</string>
        <key>tag</key>
        <string>[面条]</string>
    </dict>
	<dict>
		<key>file</key>
		<string>emoji_107</string>
		<key>id</key>
		<string>emoticon_emoji_107</string>
		<key>tag</key>
		<string>[汉堡]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_108</string>
		<key>id</key>
		<string>emoticon_emoji_108</string>
		<key>tag</key>
		<string>[披萨]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_109</string>
		<key>id</key>
		<string>emoticon_emoji_109</string>
		<key>tag</key>
		<string>[肉]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_110</string>
		<key>id</key>
		<string>emoticon_emoji_110</string>
		<key>tag</key>
		<string>[鸡腿]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_111</string>
		<key>id</key>
		<string>emoticon_emoji_111</string>
		<key>tag</key>
		<string>[饭团]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_112</string>
		<key>id</key>
		<string>emoticon_emoji_112</string>
		<key>tag</key>
		<string>[面包]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_113</string>
		<key>id</key>
		<string>emoticon_emoji_113</string>
		<key>tag</key>
		<string>[薯条]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_114</string>
		<key>id</key>
		<string>emoticon_emoji_114</string>
		<key>tag</key>
		<string>[丸子]</string>
	</dict>
	<dict>
		<key>file</key>
		<string>emoji_115</string>
		<key>id</key>
		<string>emoticon_emoji_115</string>
		<key>tag</key>
		<string>[寿司]</string>
	</dict>
    <dict>
        <key>file</key>
        <string>emoji_116</string>
        <key>id</key>
        <string>emoticon_emoji_116</string>
        <key>tag</key>
        <string>[黄金虾]</string>
    </dict>
    <dict>
        <key>file</key>
        <string>emoji_117</string>
        <key>id</key>
        <string>emoticon_emoji_117</string>
        <key>tag</key>
        <string>[甜筒]</string>
    </dict>
    <dict>
        <key>file</key>
        <string>emoji_118</string>
        <key>id</key>
        <string>emoticon_emoji_118</string>
        <key>tag</key>
        <string>[刨冰]</string>
    </dict>
    <dict>
        <key>file</key>
        <string>emoji_119</string>
        <key>id</key>
        <string>emoticon_emoji_119</string>
        <key>tag</key>
        <string>[冰淇淋]</string>
    </dict>
    <dict>
        <key>file</key>
        <string>emoji_120</string>
        <key>id</key>
        <string>emoticon_emoji_120</string>
        <key>tag</key>
        <string>[甜甜圈]</string>
    </dict>
    <dict>
        <key>file</key>
        <string>emoji_121</string>
        <key>id</key>
        <string>emoticon_emoji_121</string>
        <key>tag</key>
        <string>[曲奇饼]</string>
    </dict>
    <dict>
        <key>file</key>
        <string>emoji_122</string>
        <key>id</key>
        <string>emoticon_emoji_122</string>
        <key>tag</key>
        <string>[巧克力]</string>
    </dict>
    <dict>
        <key>file</key>
        <string>emoji_123</string>
        <key>id</key>
        <string>emoticon_emoji_123</string>
        <key>tag</key>
        <string>[糖果]</string>
    </dict>
    <dict>
        <key>file</key>
        <string>emoji_124</string>
        <key>id</key>
        <string>emoticon_emoji_124</string>
        <key>tag</key>
        <string>[棒棒糖]</string>
    </dict>
    <dict>
        <key>file</key>
        <string>emoji_125</string>
        <key>id</key>
        <string>emoticon_emoji_125</string>
        <key>tag</key>
        <string>[布丁]</string>
    </dict>
    <dict>
        <key>file</key>
        <string>emoji_126</string>
        <key>id</key>
        <string>emoticon_emoji_126</string>
        <key>tag</key>
        <string>[蜂蜜]</string>
    </dict>
    <dict>
        <key>file</key>
        <string>emoji_127</string>
        <key>id</key>
        <string>emoticon_emoji_127</string>
        <key>tag</key>
        <string>[奶油盒子]</string>
    </dict>
    <dict>
        <key>file</key>
        <string>emoji_128</string>
        <key>id</key>
        <string>emoticon_emoji_128</string>
        <key>tag</key>
        <string>[便当]</string>
    </dict>
    <dict>
        <key>file</key>
        <string>emoji_129</string>
        <key>id</key>
        <string>emoticon_emoji_129</string>
        <key>tag</key>
        <string>[汤]</string>
    </dict>
    <dict>
        <key>file</key>
        <string>emoji_130</string>
        <key>id</key>
        <string>emoticon_emoji_130</string>
        <key>tag</key>
        <string>[煎蛋]</string>
    </dict>
    <dict>
        <key>file</key>
        <string>emoji_131</string>
        <key>id</key>
        <string>emoticon_emoji_131</string>
        <key>tag</key>
        <string>[刀叉]</string>
    </dict>
    <dict>
        <key>file</key>
        <string>emoji_67</string>
        <key>id</key>
        <string>emoticon_emoji_67</string>
        <key>tag</key>
        <string>[茶]</string>
    </dict>
    <dict>
        <key>file</key>
        <string>emoji_132</string>
        <key>id</key>
        <string>emoticon_emoji_132</string>
        <key>tag</key>
        <string>[红酒]</string>
    </dict>
    <dict>
        <key>file</key>
        <string>emoji_133</string>
        <key>id</key>
        <string>emoticon_emoji_133</string>
        <key>tag</key>
        <string>[调酒]</string>
    </dict>
    <dict>
        <key>file</key>
        <string>emoji_134</string>
        <key>id</key>
        <string>emoticon_emoji_134</string>
        <key>tag</key>
        <string>[果汁]</string>
    </dict>
    <dict>
        <key>file</key>
        <string>emoji_135</string>
        <key>id</key>
        <string>emoticon_emoji_135</string>
        <key>tag</key>
        <string>[啤酒]</string>
    </dict>
    <dict>
        <key>file</key>
        <string>emoji_136</string>
        <key>id</key>
        <string>emoticon_emoji_136</string>
        <key>tag</key>
        <string>[奶瓶]</string>
    </dict>
    <dict>
        <key>file</key>
        <string>emoji_137</string>
        <key>id</key>
        <string>emoticon_emoji_137</string>
        <key>tag</key>
        <string>[蛋糕]</string>
    </dict>
</array>
</plist>
